<div style="margin: 0; overflow: hidden; width: 320px; font-family: Arial, sans-serif;">
	<div style="width: 320px; height: 500px; overflow-x: hidden; overflow-y: hidden;" class="instagram-container" *ngIf="photos.length > 0">
		<div [className]="isDarkMode ? 'dark' : 'light'">

			<div *ngIf="isMissingConfiguration" style="line-height: 18px; text-align: center; padding: 12px; font-family: Arial, sans-serif; font-size: 12px; color: grey;">
				Instagram username not set.<br/>
				Please configure My Instagram extension.
			</div>

			<div class="instagram-title">
				<div style="height: 72px; width: 72px; float: left;">
					<div style="padding: 12px;">
						<a href="https://www.instagram.com/{{ username }}/" target="_blank">
							<img [src]="profilePic" style="width: 48px; height: 48px; border-radius: 100%;" alt/>
						</a>
					</div>
				</div>
				<div style="float: left; width: calc(320px - 72px); background-color: black;">
					<div style="color: white; font-size: 22px; padding-top: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
						{{ title }}
					</div>
					<div style="color: white; font-size: 0.7em; font-family: sans-serif;">
						<ul style="margin: 0; padding: 0; list-style: none; display: flex; justify-content: space-between; width: 90%;">
							<li><strong>{{ numberOfPosts | number }}</strong> posts</li>
							<ng-container *ngIf="followedBy < 100000">
								<li><strong>{{ followedBy | number }}</strong> followers</li>
							</ng-container>
							<ng-container *ngIf="followedBy >= 100000">
								<li><strong>{{ Math.floor(followedBy/1000) | number }}K</strong> followers</li>
							</ng-container>
							<li><strong>{{ following | number }}</strong> following</li>
						</ul>
					</div>
				</div>
				<br style="clear: both;"/>
			</div>

			<div style="font-size: 0; height: 428px; line-height: 12px;" class="instagram-container-photos">
				<div style="display: grid;" [style.gridTemplateColumns]="grid_template_columns" [style.gridGap]="border_padding" [style.padding]="0">
					<div *ngFor="let photo of photos" style="float: left; margin: 0; height: 107px;">
						<div style="position: relative; height: 106px; overflow: hidden;">
							<a [href]="photo.url" target="_blank">
								<img [src]="photo.img" alt [style.borderRadius]="border_radius" crossorigin="anonymous"/>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
